{
  "comment": [
      "File names here are presumed to be relative to this local directory.",
      "Modify this example with your API keys and save as daemon.conf."
  ],

  "pid_file": "RUNNING",

  "databases": {
    "DevVoter": {
      "host": "postgis",
      "port": "5432",
      "database": "VOTER",
      "user": "postgres",
      "password ": "PASSWORD"
    }
  },

  "mapzen": {
    "apikey": "mapzen-0000",
    "max_queries_per_sec": 6,
    "max_queries_per_day": 30000
  },

  "tamu": {
    "apikey": "tamu-0000",
    "max_queries_per_sec": 6,
    "max_queries_per_day": 30000
  },

  "logging": {
    "version": 1,
    "formatters": {
      "default": {"format":
          "%(asctime)s [%(processName)s:$(process)d]:%(name)-12s %(levelname)-8s %(message)s"
      },
      "error": {"format":
          "%(asctime)s %(processName)-8s:%(name)-12s %(levelname)-8s %(message)s--%(filename)s:%(lineno)d(%(funcName)s)"
      }
    },
    "handlers": {
      "rotated_file_debug": {
          "class": "logging.handlers.TimedRotatingFileHandler",
          "filename": "logs/debug.log",
          "formatter": "default",
          "level": "DEBUG",
          "when": "midnight",
          "backupCount": 7
      },
      "rotated_file_error": {
          "class": "logging.handlers.TimedRotatingFileHandler",
          "filename": "logs/error.log",
          "formatter": "error",
          "level": "ERROR",
          "when": "midnight",
          "backupCount": 7
      }
    },
    "root": {
      "handlers": ["rotated_file_debug", "rotated_file_error"],
      "level": "INFO"
    }
  }
}
